/* Fontawesome */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;400;700&display=swap');

/* common style or utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #E5E5E5;;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 33px 30px 42px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}
/* header start */
header{
    background: #562EFF;
    padding:10px 0;
    /* animation: slideDown 1s ease .0s 1; */
}
header{
    display: flex;
    justify-content: center;
}
header .main{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 870px;
    padding: 0 20px;
}
.logo{
    display:flex;
}
.logo img{
    width:45px;
}
.navigation{
    display:flex;
}
.navigation-items{
    display:flex;
    align-items: center;


}
.navigation-items li{
    list-style: none;
    padding:0 20px;
}
.navigation-items li a{
    color:#ffffff;
    text-decoration: none;

}
.navigation-items li a:hover{
    color:#FF4A60;
}
.avatar{
    display:flex;
    align-items: center;
    margin-left: 10px;
}

/* top player styles */
.top-player{
     margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size:24px;
    margin-top: 3px;
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/*---------- top blog styles--------- */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .blog-thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    margin: 6px 0;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
    margin: 0;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}

/* courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 23.61px;
}
.courses .course{
    padding: 11px;
    width: 252.42px;
    height: 269.79px;
    border-radius: 13px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.103);
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 14px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
}
.course-duration{
    font-size: 14.6913px;
    background: #ffced6;
    border-radius: 14.6913px;
    color: #FF4A60;
}

/* media queries */
/* mobile devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players , .blogs ,.courses{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin: 0 auto;
    }
    }
    /* for tablet */
@media only screen and (min-width:669px) and (max-width:991px) {
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players ,.courses{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        margin: 0 auto;
    }
     .blogs {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin: 0 auto;
    }
}